@charset "UTF-8";

/* CSS for the front page */

@import url('main.css'); /* Importing Base CSS */
@import url('fonts.css'); /* Importing Fonts */


html {
    font-size: 70px;
}

main {
    margin-top: 0.85rem;
}

body {
    font-family: et-book, Charter;
    width: 100%;
    text-align: center;
    /* margin-right: auto; */
    color: #ffffff;
    background-color: #bfa58a;
}

.cover {
    width: 100%;
    /* padding: 50px; */
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* padding: 100px 0; */
}

.cover-bg{
    /* background-size: 1920px; */
    /* background-image: url("../../img/paintings/cesare-detti-don-quixote.jpg"); */
    background-image: url("../../img/paintings/Malczewski-don-quixote.jpg");
    /* background-image: url("../../img/paintings/marstrand-01.jpg"); */
    /* background-image: url("../../img/paintings/carbonero-panza-meets-donkey.jpg"); */
    /* background-image: url("../../img/p66b.jpg"); */
    /* background-image: url("../../img/p008.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.cover-overlay {
    font-family: Elstob;
    position: absolute;
    text-align: center;
    top: 12%;
    /* left: 20%; */
    width: 100%;
    margin: 25px auto;
    color: black;
}

.cover-overlay h1 {
    color: antiquewhite;
    /* font-family: EB Garamond SC; */
    font-family: et-book;
    font-size: 2.25em;
    /* top: 45%; */
    margin-bottom: 15px;
    text-align: center;
}

.cover-overlay h1:hover {
    color: #FFE5B4;
    /* font-family: EB Garamond SC; */
    font-family: et-book;
    font-size: 2.25em;
    /* top: 45%; */
    margin-bottom: 15px;
    text-align: center;
}


.cover-overlay h2 {
    font-family: Elstob;
    font-size: 3.25em;
}

.cover-overlay p {
    font-family: Elstob;
    color: black;
    text-align: left;
    margin-left: 75px;
    font-size: 1.15em;
}
.cover-overlay .subtitle {
    color: black;
    font-family: Elstob;
    font-size: 1.15em;
    text-align: right;
    /* margin-left: 35px; */
    margin-right: 75px;
    display: block;

}

.initials {
    font-family: 'Ibarra Real Nova';
    font-size: 1.45em;
    /* font-family: 'Garamond Libre'; */

}

/* Navigaiton Bar */

.navbar {
    position: absolute;
    background: rgba(46,41,41,0.9804);
    height: 0.85rem;
    top: 0;
    left: 0;
    width: 100%;
    transition: height 400ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-item {
    width: 100%;
    margin-right: 1rem;
    font-size: 0.5rem;
}

.nav-item:last-child {
    margin-right: auto;
}

.nav-link {
    text-decoration: none;
    color: antiquewhite;
}

.link-text {
    display: inline;
    font-size: 0.5rem;
}

.read-btn {
    position: absolute;
    top: 74%;
    right: 42%;
    bottom: 13%;
    /* margin-left: 5%; */
    /* margin-right: 15%; */
    /* left: 50%; */
    /* right: 50%; */
    background-color: rgba(46,41,41,0.8804);
    /* font-family: et-book; */
    font-family: EB Garamond;
    /* font-family: Garamond Libre; */
    /* font-family: et-book; */
    /* font-family: et-book; */
    font-size: 0.75em;
    align-content: center;
    color: #FFE5B4;
    border: none;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 95px;
    padding-right: 95px;
    /* min-width: 220px; */
    /* min-height: 55px; */
}

.read-btn:hover {
    background-color: rgba(46,41,41,1) ;
    transition: 0.2s;
    border-color: #FFE5B4;
    border-width: 3.5px;
    border-style: solid;
}

.read-btn:focus {
    background-color: rgba(46,41,41,1) ;
    outline-color: transparent;
    transition: 0.3s;
    border-color: #FFE5B4;
    border-width: 3.5px;
    border-style: solid;
}

/* For Small Screens */
@media only screen and (min-width: 300px) and (max-width: 990px) {

    html {
	font-size: 25px;
    }

    main {
	margin-top: 2.5rem;
    }

    .cover {
	width: 100%;
	height: 65vh;
	/* padding: 135px 0; */
    }

    .cover-overlay {
	top: 10%;
	width: 100%;

    }

    .cover-overlay p {
	font-size: 1.25em;
	color: black;
	text-align: center;
	margin-left: 10px;
    }

    .cover-overlay h1 {
	font-size: 2.5em;
	color: antiquewhite;
	text-align: center;
    }
    .cover-overlay .subtitle {
	color: black;
	font-family: Elstob;
	font-size: 1.25em;
	text-align: center;
	margin-left: 35px;
	margin-right: 10px;
	display: block;

}

}
