@charset "UTF-8";

/* All the CSS files must be imported */

@import url('fonts.css');
@import url('front.css');
@import url('tufte.css');
@import url('epub.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
